@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("@/assets/fonts/Quicksand-Regular.otf");
}

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("@/assets/fonts/Quicksand-Bold.otf");
}